<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniFit - Log In</title>
    <link rel="icon" type="image/png" href="../../static/img/unifit_icon.png">

    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/aos.css">
    
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../../static/css/signup_style.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <img src="../../static/img/unifit_icon.png" width="45px">
            <a class="navbar-brand" href="index.html">UniFit</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link smoothScroll">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a href="#contact" class="nav-link smoothScroll">Contact</a>
                    </li>
                </ul>

                <ul class="social-icon ml-lg-3">
                    <li><a href="https://fb.com/tooplate" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                </ul>
            </div>

        </div>
    </nav>

    <div>
        <div class="signup-container">
            <h2 style="color: whitesmoke;">Log In: </h2>
            <form action="/logged_in" method="post" style="border: 2px; border-color: orange" class="signup-form">

                <!-- BASIC INFO -->
                <label for "email_box" style="color: gray; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">Email: </label>
                <input type="email" class="sign-up-input" required placeholder="my_email@gmail.com" name="email_box"><br>
                
                <label for "password_box" style="color: gray; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">Password: </label>
                <input type="password" minlength="8" class="sign-up-input" required placeholder="(8 characters min)" name="password_box">
                
                % if note:
                <p style="color:tomato; font-family: Arial, Helvetica; font-size: small; text-align: center;" ><b>{{note}}</b></p>
                % end
                    
                <!-- SUBMIT BUTTON -->
                <br>
                <button class="signup-btn" type="submit">
                    LOG IN
                </button>
                <p style="color: whitesmoke; font-size: smaller; text-align: center; width: 100%;">New to UniFit? <a href="/signup" style="color: yellow; font-size: smaller; width: 100%;">Create an account.</a></p>
            </form>
        </div>
    </div>
</body>
</html>